#################
## Eclipse
#################


**/target/**
**/.settings/**
**/.classpath
**/.project


#################
## InteliJ
#################

.idea/
core/core.iml
util/util.iml
priority.queue.iml
